<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>О БАНКЕТНОМ ЗАЛЕ</h2>
                <p>Наш банкетный зал находится в&nbsp;удобном месте в&nbsp;дали от&nbsp;суеты большого города, где вы&nbsp;сможете
                    отметить свою торжественную дату или мероприятие не&nbsp;задумываясь ни&nbsp;о&nbsp;чем. Красивый
                    интерьер и&nbsp;вкусная кухня не&nbsp;оставят ваших гостей равнодушными.</p>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="about__img">
                    <img src="img/home.svg" alt="">
                </div>
                <h3>2&nbsp;этажа<br> 250 посадочных мест</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="about__img">
                    <img src="img/diamond-1.svg" alt="">
                </div>
                <h3>Европейская и&nbsp;азиатская кухни для самых требовательных клиентов</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="about__img">
                    <img  src="img/music-albums.svg" alt="">
                </div>
                <h3>Собственное профессиональное звуковое оборудование и&nbsp;команда звукоинженеров</h3>
            </div>
        </div>
        <div class="row">
            <div class="about__inner js-about">
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>