<section class="now">
    <div class="container">
        <div class="row">
            <div class="now__inner js-about">
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
                <div class="about__item"><img src="img/slider.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>